@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  /* border: 1px dashed red; */
}

:root {
  --color1: #fff;
  --color2: #ffffffdf;
  --color3: #add981;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.nav-main-container-bg {
  position: relative;
}

.bg {
  position: absolute;
  z-index: -1;
  height: 750%;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  padding: 1% 5% 1% 5%;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  color: var(--color1);
}

.nav a {
  text-decoration: none;
  color: var(--color1);
}

#logo {
  height: 60px;
  width: 90px;
}

.nav-main-container-bg {
  position: relative;
}

.main-container h1 {
  position: absolute;
  top: 350%;
  left: 5%;
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--color1);
}

.main-container p {
  position: absolute;
  top: 685%;
  left: 5%;
  color: var(--color2);
}
